@value v-boxBorder: 3px;
@value v-activeInputBgColor: #c1d3e3;
@value v-inputColor: #457b9d;
@value v-inputHoverBgColor: #e1ecf5;
@value v-invalidInputColor: #e63946;
@value v-invalidInputBgColor: #f5bdbc;
@value v-predefinedInputColor: #2a2c2e;
@value v-valueHighlightedInputBgColor: #b5e7ff;

.tile {
    display: flex;
    border: 1px solid black;
    flex-basis: calc(100% / 9);
    box-sizing: border-box;
}

.tile:nth-child(n):nth-child(-n + 9) {
    border-top-width: v-boxBorder;
}

.tile:nth-child(n + 73):nth-child(-n + 81) {
    border-bottom-width: v-boxBorder;
}

.tile:nth-child(3n) {
    border-right-width: v-boxBorder;
}

.tile:nth-child(9n + 1) {
    border-left-width: v-boxBorder;
}

.tile:nth-child(n + 19):nth-child(-n + 27) {
    border-bottom-width: v-boxBorder;
}

.tile:nth-child(n + 46):nth-child(-n + 54) {
    border-bottom-width: v-boxBorder;
}

.tile input {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0;
    border-color: transparent;
    background-image: none;
    background-color: transparent;
    box-shadow: none;
    /* caret-color: transparent; */
    margin: 0;
    text-align: center;
    font-size: 1em;
    line-height: 1em;
    -moz-appearance: textfield;
}

.tile input::-webkit-outer-spin-button,
.tile input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.tile input {
    color: v-inputColor;
    -webkit-text-fill-color: v-inputColor;
    opacity: 1
}

.tile input:active,
.tile.input:focus {
    cursor: none;
}

.tile input:focus {
    outline: none;
}

.tile input,
.tile input:disabled {
    cursor: default;
}

.tile.active input {
    background-color: v-activeInputBgColor;
}

.tile.invalid input {
   color: v-invalidInputColor;
   -webkit-text-fill-color: v-invalidInputColor;
   background-color: v-invalidInputBgColor;
}

.tile.predefined input {
    color: v-predefinedInputColor;
    -webkit-text-fill-color: v-predefinedInputColor;
}

.tile:not(.active):not(.invalid) input:hover,
.tile:not(.active):not(.invalid).highlighted input {
    background-color: v-inputHoverBgColor;
}

.tile:not(.active).valueHighlighted {
    background-color: v-valueHighlightedInputBgColor;
}

.tile:not(.active).valueHighlighted.invalid input {
    font-weight: bold;
}

.tile:not(.active):not(.tile.predefined).valueHighlighted.invalid input {
    color: v-invalidInputColor;
   -webkit-text-fill-color: v-invalidInputColor;
}
